<div class="footerBg px-2 d-none d-md-flex text-white justify-content-between w-100 fixed-bottom">
  <span> © Copyright 2018 </span>
  <span>
    <a href="" class="text-white">Waltair Club</a> All Rights Reserved </span>
  <span>
    <a href="../HTML/terms.html" class="text-white" data-toggle="modal" data-target="#TermsConditions">Terms and conditions</a>
  </span>
</div>
<div class="modal" id="TermsConditions" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
    </div>
  </div>
</div>
