<div class="backgroundImage" style="min-height: 100vh;">
  <form class="container" style="height: 100vh;">
    <div class="row no-margin-hr" style="text-align: -webkit-center;" id="changePassword">
      <div class="col-md-12 col-xs-12 ">
        <div class="col-md-4 .offset-md-4 col-sm-6 no-padding-hr login769" style="margin-left:3%">
          <section class="login_bg" style="margin-top:20vh">
            <div class="form-signin">
              <div class="text-center loginDiv">
                <img class="image" id="logo" src="../../../assets/images/logo.png" alt="logo">
                <h2 class="loginHeading">Waltair Club</h2>
              </div>
              <div class="row">
                <div class="col-xs-12" style="text-align:center; cursor: pointer;" onclick="loginPage()">
                </div>
              </div>

              <div id="loginForm">
                <div class="form-group mb-5">
                  <input type="text" class="form-control bdr-0" value="" name="mentionname" placeholder="Member ID" autofocus="" id="namecheck"
                    maxlength="8" autocomplete="off" />
                </div>
                <div class="form-group pRel" id="passwordHide">
                  <input id="passwordShow" type="password" class="form-control bdr-0" name="password" placeholder="Password" autocomplete="off"
                  />
                  <i class="fa fa-eye field-icon toggle-password" id="toggle-password" onclick="togglePassword(this)"></i>
                </div>
                <div class="form-group mb-5" id="actualLogin">
                  <button class="btn btn-lg btn-block logBtn" id="loginSubmit" type="button">Login</button>
                </div>
                <div class="pull-right" style="position: relative; margin: 0 auto; text-align: center">
                  <a id="" class="pull-right fgtPsd" style="cursor:pointer;">Forgot password</a>
                  <div style="position: absolute; top: 0;">
                    <a id="fgtlink" class="pull-right fgtPsd" style="cursor:pointer;">Forgot password</a>
                  </div>
                </div>
                <div style="position: relative; margin: 0 auto; text-align: center">
                  <a class="pull-left fgtPsd" href="http://waltairclub.net" style="cursor:pointer;">Back to Portal</a>
                  <div style="position: absolute; top: 0;">
                    <a class="pull-left fgtPsd" href="http://waltairclub.net" style="cursor:pointer;">Back to Portal</a>
                  </div>
                </div>
              </div>
            </div>
            <div id="message"></div>
          </section>
        </div>
      </div>
    </div>
    <!-- <div id="loading" class="load text-center hide"> -->
    <!-- <img class="spinner" src="../Images/ajax_loader.gif" width="60" height="60"> -->
    <!-- <h4 class="loading_msg">Loading Please Wait...</h4> -->
    <!-- </div> -->
    <div class="footer">
      <span style="float:left;margin-left:15px;"> © Copyright 2018 </span>
      <span class="textCenter">
        <a href="" style="color:white">Waltair Club</a> All Rights Reserved </span>
      <span class="textRight" style="float:right;margin-right:15px;">
        <a href="../HTML/terms.html" style="color:white" data-toggle="modal" data-target="#TermsConditions">Terms and conditions</a>
      </span>
    </div>
    <div class="modal tm fade" id="TermsConditions" role="dialog">
      <div class="modal-dialog termsDialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </form>
</div>