/* You can add global styles to this file, and also import other style files */
@import 'styles-variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'roboto' !important;
    .c-hand {
        cursor: pointer;
    }
}